<%= form_for(@spot) do |f| %>
  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% @spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <%= f.label 'スポットの名前' %>
  <%= f.text_field :name %>

  <%= f.label 'スポットの詳細' %>
  <%= f.text_area :description %><br>

  <label for="address">住所</label>
  <input type='text' name='address'><br>

  <%= f.hidden_field :lat %>

  <%= f.hidden_field :lng %><br>

  <%= f.label 'イメージ画像'  %>
  <%= f.file_field :image %><br><br>

  <%= f.submit 'スポットを登録する' ,class: 'btn' %>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;max-width: initial;max-width: unset;'></div>
</div>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  handler.map.centerOn([<%= Settings.center.lat.to_s %>, <%= Settings.center.lng.to_s %>]);
  handler.getMap().setZoom(4);
});
$("input[name=address]").change(function(){
  var address = $(':text[name="address"]').val();
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({
    address: address
  },
  function(data, status){
    if (status == google.maps.GeocoderStatus.OK) {
      var lat = data[0].geometry.location.lat()
      var lng = data[0].geometry.location.lng()
      $("#spot_lat").val(lat);
      $("#spot_lng").val(lng);

      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        handler.map.centerOn([lat, lng]);
          markers = handler.addMarkers([
            {
              "lat": lat,
              "lng": lng
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.getMap().setZoom(15);
      });
    }
  });
});
</script>
