<div class="container">
<h1>野宿スポット一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= link_to spot.name, spot %></td>
        <td><%= link_to 'スポットの編集', edit_spot_path(spot) %></td>
        <td><%= link_to '削除', spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="general_spot">
    <% @spots.each do |spot| %>
    <div class="span4">
    <div class="spot">
    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <%= image_tag spot.image_url.to_s  %>
                <img data-src="holder.js/300x200" alt="">
                <h3><%= link_to spot.name, spot %></h3>
                <p><%= spot.description  %></p>
                <% if correct_user?(spot) %>
                   <p><%= link_to 'スポットの編集', edit_spot_path(spot) %> </p>
                   <p><%= link_to '削除', spot, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                <% end %>
            </div>
        </li>
    </ul>
    </div>
    </div>
    <% end %>
</div>

<div class="span12">
<%= link_to '新しい野宿スポットを掲載する', new_spot_path %>
</div>
