<div class="container">
<p id="notice"><%= notice %></p>

<h2><%= @spot.name %></h2>
<p><%= @spot.description %></p>

<div id="map" style='width: 100%; height: 400px;max-width: initial;max-width: unset;'></div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @spot.lat %>,
      "lng": <%= @spot.lng %>
    }
  ]);
  handler.map.centerOn([<%= @spot.lat %>, <%= @spot.lng %>]);
  handler.bounds.extendWith(markers);
  handler.getMap().setZoom(16);
});
</script>

<%= link_to 'スポットを編集する', edit_spot_path(@spot) %> |
<%= link_to 'スポット一覧に戻る', spots_path %>
</div>