<div class="container">
	<div class="nojuku-about">
		<h1 class="poem">Nojuku.comについて</h1>
		<p class="poem">
		<br /><br />
		みなさん考えた事はありますか？<br /><br />		

		自分には家がある。そのことの意味を。<br /><br />		

		一度自分に問いかけてみて下さい。<br /><br />		

		何のために家があるのか？ 自分には本当に家が必要であるのか？<br /><br />		

		安心の保証。やすらぎの空間。などなど 人それぞれ答えはあると思います。<br /><br />		

		でも果たして本当にそうなのでしょうか？<br /><br />		

		家がないと安心出来ない。やすらげない。<br /><br />		

		<b>決してそんなことはありません。</b><br /><br />		

		まだ、皆さんが知らないだけです。<br /><br />		

		そう、家が無い生活の魅力の大きさを。<br /><br />		

		そこのあなた、いつまでも家で満足していないで、 全く新しい世界、領域に一歩を踏み出してみませんか？<br /><br />		

		きっとあなたは確信するでしょう。<br /><br />		

		<b>もはや人類は家というものを必要としなくなるということを。</b><br /><br />		

		地球に生きる全ての人に、全く新しい睡眠を。 ものもおかねもいりません。<br /><br />
		</p>

	</div>
</div>
