  <div class="hero-unit top-hero" style="background-image:url(<%= asset_url("top-hero-overview.jpg") %>)">
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="catch-copy">暮らすように、野宿しよう</h1>
      <br>
      <%= link_to '野宿スポットをみる', spots_path, :class => 'btn btn-primary btn-large' %>
    </div>
  </div>
