@import "bootstrap";

h1.catch-copy {
	color: white;
	text-shadow: -2px 4px 0 rgba(0,0,0,0.3);
}

.top-hero {
	background: rgba(0, 255, 0, 0.1);
	filter: blur(30px);
	border-radius: 0px;
	background-size: cover;
	height: 400px;
    margin-bottom: 0px;
}

.nojuku-about {
	text-align: center;
	color: white;
	margin-top: 30px;
}
p.poem {
	font-size: 18px;
}
h1.poem {
	font-size: 50px;
	color: green;
}


