<%= form_for(@review, url: spot_reviews_path) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, style: "width:400px;;" %>
  </div>

  <%= f.label :score_conf %><br>
    <%= f.select :score_conf, [1, 2, 3, 4, 5] %>

  <%= f.label :score_safe %><br>
  <%= f.select :score_safe, [1, 2, 3, 4, 5] %>

  <%= f.label :score_stf %><br>
  <%= f.select :score_stf, [1, 2, 3, 4, 5] %><br>

  <%= f.submit %>

<% end %>