<h1>Listing reviews</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th>Spot</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.title %></td>
        <td><%= review.content %></td>
        <td><%= review.user_id %></td>
        <td><%= review.spot_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>